/* Nav */
.bg-light {
    background-color: #00A6B2!important;
}
@media (min-width: 3000px){
  .navbar-collapse.collapse {
      display: block!important;
      height: auto!important;
      padding-bottom: 0;
      overflow: visible!important;
  }}
  @media (min-width: 3000px){
  .navbar-collapse {
      width: auto;
      border-top: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
  }}
  @media (min-width: 992px){
  .navbar-expand-lg .navbar-toggler{
    display: flex;
  }}
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }
/*Icono question */
.fa-question-circle{
    font-size: 30px;
    color: white;
}
/* Icono Menu */
.fa-bars{
    font-size: 30px;
    color: white;
}
.nav-link{
color: aliceblue;
}

body{  
  background-color: lightblue;
}

.whContainer{
  background-color: white;
  box-shadow: 1px 1px 3px #888888;
}

.logoContainer{
  margin: 50px 0 50px 0;
}

.orange{
  background-color: orange;
}
.orange:hover{
  background-color: cadetblue;
}

.facebookBtn{
  background-color: #3b5998;
  font-size: 1.2em;
  color: white;

}

.facebookBtn i {
  font-size: 1.6em;
  padding-right:15px; 
 
}

p.signin {text-align: center;
padding: 20px;}

